aside {
    position: relative;
    width: 85px;
    transition: all 500ms ease;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 100;
}
.aside {
    position: fixed;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    height: 90vh;
    width: inherit;

}
#btn_menu {
    display: none;
}
#btn_menu:checked ~ aside {
    width: 250px;
}
.menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}
.menu-header .profile {
    display: none;
    width: 100%;
    padding-left: 0.9em;
}
.menu-header .profile div {
    display: flex;
    flex-direction: column;
    align-self: end;
    margin-left: 0.6em;
}
.menu-header .profile div span {
    display: block;
    line-height: 0.5;
}
.menu-header .btn-menu {
    cursor: pointer;
}
.menu-header .btn-menu:hover {
    color: var(--bs-emphasis-color);
}
.menu-header .btn-close-menu {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    display: none;
}
.menu-header .btn-close-menu:hover {
    color: var(--bs-emphasis-color);
}
// Scroll del menu aside
.menu-content {
    transition: width  500ms ease;
    scrollbar-width: none;
}
.menu-content::-webkit-scrollbar {
 width: 0;
}
.aside a span {
    display:none;
}
.aside a.only-icon{
    display:flex;
    justify-content:center;
    align-items: center
}
.aside a.only-icon span{
    margin-left: 0.2em;
}
.aside .list-group {
  --bs-list-group-color: var(--bs-body-color);
  --bs-list-group-bg: none;
  --bs-list-group-border-color: none;
  --bs-list-group-border-width: none;
  --bs-list-group-border-radius: none;
  --bs-list-group-item-padding-x: 1rem;
  --bs-list-group-item-padding-y: 0.5rem;
  --bs-list-group-action-color: var(--bs-secondary-color);
  --bs-list-group-action-hover-color: var(--bs-emphasis-color);
  --bs-list-group-action-hover-bg: var(--bs-tertiary-color);
  --bs-list-group-action-active-color: var(--bs-body-color);
  --bs-list-group-action-active-bg: var(--bs-secondary-bg);
  --bs-list-group-disabled-color: var(--bs-secondary-color);
  --bs-list-group-disabled-bg: var(--bs-body-bg);
  --bs-list-group-active-color: #fff;
  --bs-list-group-active-bg: #0d6efd;
  --bs-list-group-active-border-color: #0d6efd;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: var(--bs-list-group-border-radius);
  cursor: pointer;
}
